# SPDX-FileCopyrightText: 2024 Stichting Health-RI
#
# SPDX-License-Identifier: AGPL-3.0-only

pytest~=8.4.2
pytest-ckan
pytest-mock
requests-mock
requests~=2.32.5  # Fixes CVE-2023-32681 and CVE-2024-47081
