# SPDX-FileCopyrightText: 2023 Civity
#
# SPDX-License-Identifier: AGPL-3.0-only

include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/fairdatapoint *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/fairdatapoint/migration *.ini *.py *.mako
